$line-height:                 1.375em !default;

$text-color:                  hsl(0, 0%, 10%) !default;

$border-color:                hsl(0, 0%, 60%) !default;

.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 25px 0 50px;

  @media (min-width: $screen-md) {
    margin-top: 30px;
  }

  @media (min-width: $screen-xl) {
    justify-content: flex-start;
    margin-bottom: 45px;
  }

  $block-name:                &; // #{$block-name}__element

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding-left: 0;
    list-style: none;

    li:not(:first-child) + li:not(:last-child) {
      margin-left: 10px;

      @media (min-width: $screen-sm) {
        margin-left: 15px;
      }

      @media (min-width: $screen-md) {
        margin-left: 20px;
      }
    }

    li:first-child {
      margin-right: 10px;

      @media (min-width: $screen-sm) {
        margin-right: 15px;
      }

      @media (min-width: $screen-md) {
        margin-right: 40px;
      }
    }

    li:last-child {
      margin-left: 10px;

      @media (min-width: $screen-sm) {
        margin-left: 15px;
      }

      @media (min-width: $screen-md) {
        margin-left: 40px;
      }
    }
  }

  &__item {

    &.active {

      a {
        color: $white;
        background-color: darken($main-color, 10%);
        pointer-events: none;
      }
    }

    &.disabled {

      a {
        color: $white;
        background-color: $icon-color;
        pointer-events: none;

        svg {
          fill: $text-muted;
        }
      }
    }
  }

  &__link {
    padding: 6px 10px;
    min-width: 50px;
    height: 32px;
    font-size: 20px;
    font-weight: 400;
    line-height: 1em;
    color: $icon-color;

    &:hover,
    &:focus {
      background-color: darken($main-color, 10%);
    }
  }
}
