.seo-text-article {
  margin-top: 20px;
  margin-bottom: 40px;

  @media (min-width: $screen-xl) {
    margin-top: 60px;
    margin-bottom: 80px;
  }

  $block-name:                &; // #{$block-name}__element

  &__title {
    margin-top: 0;
  }
}
