$line-height:                 1.375em !default;

.field-radio {

  $block-name:                &; // #{$block-name}__element

  display: block;
  margin-bottom: 0.5em;

  &__title {
    display: block;
    font-weight: 700;
    line-height: $line-height;
    margin-bottom: 0.4em;
  }

  &__input-wrap {

    & + & {
      margin-top: 0.5em;
    }
  }

  &__name {
    position: relative;
    display: block;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 35px;
    padding-right: 0;
    font-weight: 400;
    line-height: $line-height;
    cursor: pointer;

    &:hover,
    &:focus {

      #{$block-name}__name-text {
        color: $main-color;
      }
    }
  }

  &__name-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;

    &:hover,
    &:focus {

      &:before {
        border-color: $main-color;
      }
    }

    &:before,
    &:after {
      display: block;
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-51%);
    }

    &:before {
      left: 0;
      width: 20px;
      height: 20px;
      border: 2px solid $text-color;
      border-radius: 50%;

      @at-root input:checked ~ & {
        border-color: $main-color;
      }
    }

    // @at-root input:focus ~ &:before {
    //   @include field-focus;
    //   box-shadow: none !important;
    // }

    &:after {
      left: 5px;
      width: 10px;
      height: 10px;
      opacity: 0;
      border-radius: 50%;
      background-color: $main-color;
      transition: opacity $transition-time;

      @at-root input:checked ~ & {
        opacity: 1;
      }
    }
  }

  &__input {
    position: absolute;
    top: 0.7em;
    left: 0;
    padding: 0;
    margin: 0;
    transform: translateY(-50%);

    &:focus,
    &:active {
      @include field-focus;
      box-shadow: none !important;

      & + #{$block-name}__name-text {
        color: $main-color;

        &:before {
          border-color: $main-color;
        }
      }
    }

    // сокрытие инпута в случае использования своей радиокнопки
    opacity: 0;
  }

  &__help-text-wrap {
    padding-left: 1.5em;
  }

  &__help-text {
    @include field-help-text;
  }
}
