.together-cheaper-block {

  $block-name:                &; // #{$block-name}__element

  &__wrapper {
    margin-bottom: 20px;

    @media (min-width: $screen-md) {
      box-shadow: $shadow;
    }

    & > .row {
      box-shadow: $shadow;

      @media (min-width: $screen-md) {
        box-shadow: none;
      }
    }
  }

  &__title {
    color: $color-danger;
  }

  &__controls {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: static;
    width: 100%;
    height: 21px;
    padding-left: 40px;
    //z-index: 0;

    .swiper-button-prev,
    .swiper-button-next,
    .swiper-pagination-fraction {
      position: static;
      transform: none;
      margin: 0;
    }

    .swiper-pagination-fraction {
      width: auto;
      margin: 0 20px;
    }

    .swiper-button-prev,
    .swiper-button-next {

    }

    @media (min-width: $screen-xl) {
      margin-bottom: 22px;
    }
  }

  &__sale {
    padding: 15px;
    text-align: center;

    @media (min-width: $screen-md) {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      height: 100%;
      padding: 15px 40px;
    }

    @media (min-width: $screen-xl) {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }

  &__sale-price {
    margin-bottom: 20px;

    span {
      display: block;
      font-family: $font-family--headings;
    }
  }

  &__old-price {
    font-size: 16px;
    text-decoration: line-through;
    color: $text-muted;

    @media (min-width: $screen-md) {
      font-size: 22px;
    }
  }

  &__new-price {
    font-size: 24px;
    font-weight: 700;

    @media (min-width: $screen-md) {
      font-size: 32px;
    }
  }

  &__submit {
    color: $white;
    background-color: $color-success;

    &:hover,
    &:focus {
      color: $white;
      background-color: darken($color-success, 10%);
    }
  }

  &__code {
    margin-bottom: 0;


    @media (min-width: $screen-md) {
      margin-top: 75px;
    }

    @media (min-width: $screen-xl) {
      margin-top: 20px;
    }
  }
}
